<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link"> На главную</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>31.01.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus atque aut autem cupiditate, et iusto maxime
      molestiae pariatur placeat quibusdam quos recusandae, rem, repellat rerum sequi similique tempora voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus atque aut autem cupiditate, et iusto maxime
      molestiae pariatur placeat quibusdam quos recusandae, rem, repellat rerum sequi similique tempora voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus atque aut autem cupiditate, et iusto maxime
      molestiae pariatur placeat quibusdam quos recusandae, rem, repellat rerum sequi similique tempora voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus atque aut autem cupiditate, et iusto maxime
      molestiae pariatur placeat quibusdam quos recusandae, rem, repellat rerum sequi similique tempora voluptas.</p>
  </div>
</div>
