<div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="header">
      <h1>{{ post.title }}</h1>
      <button routerLink="/" class="btn btn-link"> На главную</button>
    </div>
    <div class="info">
      <strong>{{ post.author }}</strong>
      <small>{{ post.date | date: 'mediumDate'}}</small>
    </div>
    <div>
      <quill-view-html [content]="post.content">
      </quill-view-html>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
